{% extends 'base.html' %}

{% block container %}
<div class="row mt-5">
  <h1>Batch Add Jobs</h1>
</div>

<div class="row mt-5">
  <div class="col-sm-12">
    Add jobs here. I use pythons shlex for lexical analysis of the commands
    entered here so non POSIX shells might not behave as expected.
    This form can be used to submit multiple jobs. Use <code>;;;</code> (three
    ';') to separate jobs. A single job description should contain its name, output
    file and command in that order, separated by <code>;;</code> (two ';'). For example,
    <div><code>
        NAME00;;<br>
        OUTPUTFILE00;;<br>
        COMMAND00;;;<br>
        <br>
        NAME01;;<br>
        OUTPUTFILE01;;<br>
        COMMAND01;;;<br>
    </code></div>
  </div>
</div>

<div class="row mt-5">
  <div class="col-sm-12">
    <form action="{{ url_for('batchAddJobs') }}" method="post">
      <div class="form-group">
        <label for="Job Command">Job List</label>
        <textarea name='jobList' class="form-control" rows="3"></textarea>
      </div>
      <input class="btn btn-primary" type="submit" value="Submit">
    </form>
  </div>
</div>

{% endblock %}
