{% extends 'base.html' %}

{% block container %}

<div class="row mt-3">
  <h3>Batch Add Jobs</h3>
</div>
<div class="row mt-1">
  <div class="col-sm-12">
    Add jobs here. I use pythons shlex for lexical analysis of the commands
    entered here so non POSIX shells might not behave as expected.
    This form can be used to submit multiple jobs. Use <code>;;;</code> (three
    ';') to separate jobs. A single job description should contain its name, output
    file and command in that order, separated by <code>;;</code> (two ';'). For example,
    <div><code>
        NAME00;;<br>
        OUTPUTFILE00;;<br>
        COMMAND00;;;<br>
        <br>
        NAME01;;<br>
        OUTPUTFILE01;;<br>
        COMMAND01;;;<br>
    </code></div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-sm-12">
    <form action="{{ url_for('batchAddJobs') }}" method="post">
      <div class="form-group">
        <label for="Job Command">Job List</label>
        <textarea name='jobList' class="form-control" rows="3"></textarea>
      </div>
      <input class="btn btn-primary" type="submit" value="Submit">
    </form>
  </div>
</div>

<div class="row mt-5">
  <h3>Test Job Configuration</h3>
</div>

<div class="row mt-1">
  <div class="col-sm-12">
    The job configuration string is passed to the inbuilt (not so great) parser
    based on <code>shlex</code> which extracts commands and arguments. This is
    then directly passed onto the <code>subprocess</code> module. The below
    form can be used to return the lexer output to see if the parsing is
    working as intended.
  </div>
</div>

<div class="row mt-3">
  <div class="col-sm-12">
    <form action="{{ url_for('testCommandParser') }}" method="post">
      <div class="form-group">
        <label for="Job Command">Job Command</label>
        <textarea name='jobCommand' class="form-control" rows="3"></textarea>
      </div>
      <input class="btn btn-primary" type="submit" value="Submit">
    </form>
  </div>
</div>
{% if jobList is defined %}
<div class="mt-1 alert alert-info alert-dismissible fade show" role="alert">
  {% if errorCount is defined %}
  <strong> Error count:   </strong>{{ errorCount}}<br>
  {% endif %}
  {% if errorMessage is defined %}
    {{ errorMessage }}<br>
  {% endif %}
  {% if jobList is defined %}
    <strong>Parsed Job List:</strong><br><br>
    {% for job in jobList %}
      {% for k, v in job.items() %}
      <strong>{{ k }}</strong>: {{v}} <br>
      {% endfor %}
      <br>
    {% endfor %}
  {% endif %}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}


{% endblock %}
