<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GPU-Easy</title>
    
    <!-- Bootstrap  and jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
    <script
      src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
      integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
      crossorigin="anonymous">
    </script>
    <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
    <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
    <!-- END BOOTSTRAP -->

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css"
     href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css"
     href="{{ url_for('static', filename='css/externalstyle.css') }}">

    <!-- Custom javascript -->
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>

  </head>


  <body>
    <nav class="navbar navbar-light bg-light ml-auto">
      <div class="container">
        <a href="{{ url_for('index')}}" class="navbar-brand">GPUPeasy</a>
        <a href="{{ url_for('batchAddJobs') }}" class="btn btn-success ml-auto">Add Jobs</a>
        <a href="{{ url_for('messageTest') }}" class="btn btn-success
          ml-auto">Message</a>
      </div>
    </nav>

    <div class="container">
      {% block container %}{% endblock %}
    </div>
  </body>
</html>
