{% if errorMessage is defined %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Error:</strong> {{ errorMessage }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
{% else %}
{% for name, info in devices.items() %}
<div class="col-sm-12">
  <div class="row mt-1 border border-primary rounded">
    <div class="col-md-3">
      <strong>Device: {{name}}</strong>
    </div>
    <div class="col-md-9">
      {% if info.idle == true %}
      <div class="row">
        <div class="col-sm-12 bg-info text-white text-left">
          Status: Idle
        </div>
      </div>
      {% else %}
      <div class="row">
        <div class="col-sm-3 bg-primary text-white">
          Status: running
        </div>
        <div class="col-sm-9 bg-primary text-white">
          Job ID: {{info.job.jobID}}</div>
      </div>
      <div class="row">
        <div class="col-sm-12 bg-primary text-white">
          Job Name: <a class="text-white" href="{{ url_for('getJobInfo', jobID=info.job.jobID) }}">
            <u>{{info.job.jobName}}</u></a>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 bg-secondary text-white">
          Command: {{info.job.jobCommand}}
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
  {% endfor %}
{% endif %}

