{% extends 'base.html' %}

{% block container %}

{% if errorMessage is defined %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Error:</strong> {{ errorMessage }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}
{% if infoMessage is defined %}
<div class="alert alert-info alert-dismissible fade show" role="alert">
  <strong>Info:</strong> {{ infoMessage }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}
{% if successMessage is defined %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>Success:</strong> {{ successMessage }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

<div class="row mt-5">
  <div class="col-md-12">
    <div class="row col-md-12">
      <h2>Device Utilization</h2>
    </div>
    <div class="row" id="DeviceUtilization">
     
      <div class="col-sm-12">
        <div class="timeline-item override-max-width height-4em">
          <div class="animated-background facebook height-2em">
            <div class="background-masker header-top"></div>
            <div class="background-masker header-left"></div>
            <div class="background-masker header-right"></div>
            <div class="background-masker header-bottom"></div>
          </div>
        </div>
      </div>
     
      <div class="col-sm-12">
        <div class="mt-1 timeline-item override-max-width height-4em">
          <div class="animated-background facebook height-2em">
            <div class="background-masker header-top"></div>
            <div class="background-masker header-left"></div>
            <div class="background-masker header-right"></div>
            <div class="background-masker header-bottom"></div>
          </div>
        </div>
      </div>
      
      <div class="col-sm-12">
        <div class="mt-1 timeline-item override-max-width height-4em">
          <div class="animated-background facebook height-2em">
            <div class="background-masker header-top"></div>
            <div class="background-masker header-left"></div>
            <div class="background-masker header-right"></div>
            <div class="background-masker header-bottom"></div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!--<div class="row mt-5">-->
  <!--<div class="col-md-6">-->
    <!--<div class="row">-->
      <!--<div class="col-md-12 "><h2>Successful Jobs</h2></div>-->
    <!--</div>-->
    <!--<div class="row col-sm-12 h-50-scroll" id="SuccessfulJobs">-->
      <!--<div class="col-sm-12 ">-->
        <!--Loading . . .-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="col-md-6">-->
    <!--<div class="row">-->
      <!--<div class="col-md-12 "><h2>Failed Jobs</h2></div>-->
    <!--</div>-->
    <!--<div class="row col-sm-12 h-50-scroll" id="FailedJobs">-->
      <!--<div class="col-sm-12 ">-->
        <!--Loading . . .-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--<div class="row mt-3 height-50-scroll">-->
  <!--<div class="col-md-12">-->
    <!--<div class="row">-->
      <!--<div class="col-md-12 "><h2>Scheduled Jobs</h2></div>-->
    <!--</div>-->
    <!--<div class="row col-sm-12 h-50-scroll" id="ScheduledJobs">-->
      <!--<div class="col-sm-12 ">-->
        <!--Loading . . .-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

{% endblock %}
